
body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    color: #00F;
}

h1 {
    color: #FFF;
    text-align: center;
    text-shadow: 3px 3px 3px #00F;
}

form {
    margin-left: 380px;
}

table {
    width: 576px;
    height: 525px;
    border: 1px #00F;
    background-color: #CFF;
    border-collapse: collapse;
    border-radius: 15px;
    box-shadow: 3px 3px 3px 3px #00F;
    background-image: url('./img/khuyen-mai.png');
    background-repeat: no-repeat;
    background-position-y: 160px;
}

.right {
    text-align: right;
    font-weight: 790;
}

.blue {
    background-color: rgb(65, 241, 241);
    border-radius: 15px;
}

.select-1 {
    width: 100px;
}

.select-2 {
    width: 200px;
}

label {
    color: #C00;
    font-size: 14px;
}

.button {
    padding: 5px 15px;
    border-radius: 15px;
    background-color: rgb(101, 101, 250);
}
